*{
	margin: 0;
	padding: 0;
}
html,body {
	background: url('../images/body_bg01.png');
	-webkit-touch-callout: none; 
	-webkit-text-size-adjust: none; 
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
html, button, input, select, textarea {
    font: normal 12px "Microsoft YaHei","Times New Roman","Arial","Helvetica","Verdana","sans-serif";
    color:#000000;
}
a{
	text-decoration: none;
	color: #000000;
	outline:none;
}
img{
	border:none;
	vertical-align:bottom;
}
input:focus{
	outline: none;
}
ul{
	padding: 0px;
	margin: 0px;
}
ul, ol, li {
	list-style: none outside;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
.centerBlock{
	width: 1000px;
	margin: 0 auto;
}
.clearFloat{
	clear: both;
	height: 0;
}
.header{
	height: 110px;
    position: relative;
    z-index: 11;
}
.header .searchBlock{
	position: absolute;
	left: 2px;
	bottom: 0;
	width: 165px;
	height: 24px;
	border: 1px solid #a1a1a1;
	background-color: #fff;
}
.header .searchBlock input[type="submit"]{
	display:block;
	width:24px;
	height:24px;
	background:url(../images/icons.png) no-repeat 0 0;	
	border: none;
	cursor: pointer;
	float: left;
}
.header .searchBlock .inputContainer{
	position:relative;
	width: 130px;
	float: right;
	background-color: #fff;
	overflow: hidden;
	margin-right: 10px;
}
.header .searchBlock input[type="text"]{
	padding: 3px 0 3px 0;
	border: none;
	width: 100%;
}
.header .logo{
	position: absolute;
	width: 306px;
	height: 49px;
	bottom: 0;
	left: 50%;
	margin-left: -145px;
}
.header .rightBlock{
	position:absolute;
	bottom: 0;
	right: -25px;	
	line-height: 18px;	
}
.header .rightBlock .combox{
	display: inline-block;
	position:relative;
	width: 65px;
	height: 18px;
	margin-right: 10px;
	vertical-align: top;
}
.header .rightBlock .account{
	white-space: nowrap;
	width: 80px;
}
.header .rightBlock .account span{
	width: 70px;
	overflow: hidden;
	white-space: nowrap;
}
.header .rightBlock .combox i{
	display: block;
	float:right;
	margin-top:2px;
	width: 7px;
	height: 14px;
	background:url(../images/icons.png) no-repeat -24px 0;		
}
.header .rightBlock .combox span{
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
.header .rightBlock .combox .topSeparator{
	position:absolute;
	left:0;
	top:21px;
	overflow: hidden;
	width:100%;
	height: 2px;
	background-color: #000;
}
.header .rightBlock .combox .popBlock{
	position: absolute;
	left: 0;
	top: 0;
	background:url(../images/1pAlpha.png);
	display: none;
	padding-top: 23px;
}
.header .rightBlock .combox ul{
	border: 1px solid #bfbfbf;
	background: #fff;
	width: 65px;
	height: 55px;
}
.header .rightBlock .combox.account ul {
	width: 80px;
}
.header .rightBlock .combox li{
	height: 27px;
	line-height: 27px;
	text-align: center;
}
.header .rightBlock .combox li a{
	display: block;
}
.header .rightBlock .combox li .unable{
	cursor: default;
	color:#808285;
}
.header .rightBlock .login{
	margin-right: 15px;
	display: inline;
}
.header .rightBlock .combox:hover .popBlock{
	display:block;
}
.header .rightBlock .shoppingCar{
	position:relative;
	display: inline-block;
}
.header .rightBlock .shoppingCar i{
	display: inline-block;
	width: 22px;
	height: 14px;
	background:url(../images/icons.png) no-repeat -43px 0;	
	margin-right: 5px;
}
.header .rightBlock .shoppingCar b{
	display: inline-block;
	margin-left:17px;
	width: 7px;
	height: 14px;
	background:url(../images/icons.png) no-repeat -24px 0;	
	margin-right: 5px;
}
.header .rightBlock .shoppingCar .popWindow{
	position:absolute;
	top: -7px;
	left:-88px;
	width: 325px;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: all 0.25s ease-out 0s;
}
.header .rightBlock .shoppingCar .popWindow.open{
	visibility: visible;
	opacity: 1;
}
.header .rightBlock .shoppingCar .popWindow .lightRow{
	padding-top:7px;
	float:right;
	height:20px;
	width:255px;
	background-color: #636363;
	cursor: default;
}
.header .rightBlock .shoppingCar .popWindow .lightRow i{
	margin-left: 18px;
	background-position: -85px 0;
}
.header .rightBlock .shoppingCar .popWindow .lightRow b{
	background-position: -100px -15px;
}
.header .rightBlock .shoppingCar .popWindow .totalRow{
	position:relative;
	float: right;
	width: 315px;
	height: 26px;
	background-color: #636363;
	font-size: 14px;
	font-weight: bold;
	padding: 17px 0 0 10px;
}
.header .rightBlock .shoppingCar .popWindow .totalRow u{
	text-decoration: none;
}
.header .rightBlock .shoppingCar .popWindow .totalRow .totalSeparator{
	position: absolute;
	bottom:0;
	left:10px;
	width: 305px;
	background-color: #c2c2c2;
	height: 1px;
	overflow: hidden;
}
.header .rightBlock .shoppingCar .popWindow .scrollPanel{
	position:relative;
	float: right;
	background-color: #636363;
	overflow:hidden;
	width: 325px;
	height: 331px;
	border-bottom:1px dotted #343434;
}
.header .rightBlock .shoppingCar .popWindow .scrollPanel .contentBlock{
	position:absolute;
	left:0;
	top: 0;
}
.header .rightBlock .shoppingCar .popWindow .payable{
	display:block;
	width: 325px;
	height: 54px;
	background-color: #636363;
	line-height: 54px;
	font-size: 18px;
	float: right;
	text-align: center;
	margin-top: -1px;
	color: #fff;
}
.header .rightBlock .shoppingCar .popWindow  .scrollPanel ul{
	margin: 11px 0 11px 10px;
}
.header .rightBlock .shoppingCar .popWindow  .scrollPanel ul li{
	width: 305px;
	height: 150px;
	background-color: #464646;
	margin-top: 10px;
	overflow: hidden;
}
.header .rightBlock .shoppingCar .popWindow  .scrollPanel ul li:first-child{
	margin-top: 0;
}
.header .rightBlock .shoppingCar .popWindow  .scrollPanel ul li .imgContainer{
	margin: 10px 0 0 10px;
	width: 90px;
	height: 130px;
	overflow: hidden;
	float: left;
}
.header .rightBlock .shoppingCar .popWindow  .scrollPanel ul li .imgContainer img{
	width: 90px;
	height: 130px;
}
.header .rightBlock .shoppingCar .popWindow  .scrollPanel ul li .paramGroup{
	position:relative;
	width: 155px;
	float: left;
	height: 130px;
	margin: 10px 0 0 20px;
}
.header .rightBlock .shoppingCar .popWindow  .scrollPanel ul li .nameRow{
	margin-bottom: 10px;
	max-height: 36px;
	overflow: hidden;
}
.header .rightBlock .shoppingCar .popWindow  .scrollPanel ul li .priceRow{
	position: absolute;
	left: 0;
	bottom: 0;
}
.header .rightBlock .shoppingCar .popWindow .scrollPanel .pageArrow{
	position: absolute;
	display:block;
	left: 0;
	width: 325px;
	height: 30px;
	background:rgba(0,0,0,0.5);
    text-align: center;
    display: none;
    
    background:url(../images/1pAlpha.png)\0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7A000000, endColorstr=#7A000000)\0;
}
.header .rightBlock .shoppingCar .popWindow .scrollPanel .upArrow{
	top: 0;
}
.header .rightBlock .shoppingCar .popWindow .scrollPanel .upArrow i{
	width:17px;
	height:30px;
	background-position: -97px -59px;
	cursor: pointer;
}
.header .rightBlock .shoppingCar .popWindow .scrollPanel .downArrow{
	bottom: 0;
}
.header .rightBlock .shoppingCar .popWindow .scrollPanel .downArrow i{
	width:17px;
	height:30px;
	background-position: -114px -59px;
	cursor: pointer;
}
.header .rightBlock .shoppingCar .popWindow .empty{
	width: 305px;
	height: 150px;
	background-color:#464646;
	color: #6f6f6f;
	font-weight: bold;
	text-align: center;
	line-height: 150px;
	display: none;
	font-size: 14px;
	margin: 10px 0 0 10px;
}
.header .phoneSearch{
	position:absolute;
	top:28px;
	width: 34px;
	height: 34px;
	background: url(../images/phone/searchBtn.png);
	display: none;
	left:30px;
}
.header .phoneShoppingcar{
	position:absolute;
	top:24px;
	width: 45px;
	height: 38px;
	background: url(../images/phone/shoppingcarBtn.png);
	display: none;
	right:30px;
}
.header .phoneShoppingcar span{
	position:absolute;
	top:-4px;
	left:12px;
	display:block;
	height: 20px;
	width:20px;
	border:1px solid #f7f7f7;
	background-color: #231f20;
	color: #fff;
	line-height: 20px;
	text-align: center;
	border-radius: 10px;
}

.topNavigation .phoneView{
	display: none;
}
.topNavigation .topNavlistModule{
	position:relative;
	margin-top: 35px;
	height: 45px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 16px;
	z-index: 10;
	white-space: nowrap;
}
.topNavigation .topNavlistModule .checked{
	color: #a18f6c;
}
.topNavigation .topNavlistModule li{
	text-transform:uppercase;
	position:relative;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	width: 11.11%;
	text-align: center;
	cursor: default;
	
	background:url(../images/1pAlpha.png)\0;
}
.topNavigation .topNavlistModule li .btnBlock{
	height: 45px;
}
.topNavigation .topNavlistModule li .btnBlock i{
	display: block;
	width: 45px;
	height: 45px;
	float: right;
	background: url(../images/phone/openButton.png);
	cursor: pointer;
	margin-right: 16px;
	display: none;
}
.topNavigation .topNavlistModule li:hover .popBlock{
	display: block;
}
.topNavigation .topNavlistModule li .popBlock{
	position:absolute;
	left:0;
	top:44px;
	background:url(../images/1pAlpha.png);
	width: 180px;
	display: none;
	z-index: 5;
}
.topNavigation .topNavlistModule li .popBlock ul{
	width:180px;
	margin-top: 2px;
	font-size: 16px;
	border: 1px solid #e5e5e5;
	background:#FFFFFF;
}
.topNavigation .topNavlistModule li .popBlock ul li{
	text-align: left;
}
.topNavigation .topNavlistModule li .popBlock ul li:hover .subPopBlock{
	display: block;
}
.topNavigation .topNavlistModule li .popBlock .subPopBlock{
	position: absolute;
	top: 0;
	left: 180px;
	background:url(../images/1pAlpha.png);
	z-index: 5;
	display: none;
}
.topNavigation .topNavlistModule li .popBlock .subPopBlock ul{
	margin-top: 0;
	padding:0;
}
.topNavigation .topNavlistModule li .popBlock ul li{
	line-height: 45px;
	position: relative;
	width: 180px;
	display: block;
}
.topNavigation .topNavlistModule li .popBlock ul li a{
	padding-left: 10px;
	font-size: 14px;
}

.topNavigation .phoneViewTopMenu{
	width: 100%;
	position: relative;
	background:url(../images/1pAlpha.png);
	padding: 30px 0;
	display: none;
}
.topNavigation .phoneViewTopMenu .button{
	position:relative;
	border: 2px solid #000;
	margin: 0 30px;
	height: 56px;
	line-height: 56px;
	color: #333;
	font-size: 24px;
    background-color:rgba(0,0,0,0);
}
.topNavigation .phoneViewTopMenu .button span{
	margin-left: 20px;
}
.topNavigation .phoneViewTopMenu .button i{
	position:absolute;
	top:0;
	right:0;
	display: block;
	width: 56px;
	height: 56px;
	background: url(../images/phone/topNavBut_icon.png) no-repeat 0 0;
}
.topNavigation .phoneViewTopMenu .checked{
	background-color:rgba(0,0,0,1);
	color: #fff;
}
.topNavigation .phoneViewTopMenu .checked i{
	background-position: -56px 0;
}

.topModuleMenu{
	position:relative;
	margin-top: 35px;
	height: 45px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 16px;
	z-index: 10;
	white-space: nowrap;
}
.topModuleMenu .checked{
	color: #a18f6c;
}
.topModuleMenu>li{
	position:relative;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	width: 11.11%;
	text-align: center;
	cursor: default;
	
	background:url(../images/1pAlpha.png)\0;
}
.topModuleMenu .current{
	color: #b6a483;
}
.topModuleMenu>li:hover>.btnBlock>a{
	border-bottom: 4px solid #000;
	padding-bottom: 9px;
	
	padding-bottom: 8px\0;
}

.topModuleMenu .moduleMenuBlock{
	padding-top:2px;
	position:absolute;
	left:0;
	top:46px;
	background-color: #f9f9f9;
	line-height: 48px;
	text-align: left;
	font-size: 14px;
	display: none;
}
.topModuleMenu .moduleMenuBlock .bridge{
	height: 4px;
	margin-top: -4px;
	background:url(../images/1pAlpha.png)\0;
}
.topModuleMenu .moduleMenuBlock li{
	position: relative;
}
.topModuleMenu>li:hover .moduleMenuBlock{
	display: block;
}
.topModuleMenu .moduleMenuBlock li a{
	display: block;
}
.topModuleMenu .moduleMenuBlock .mainModule {
	position: absolute;
	top: 0;
	left: 0;
}
.topModuleMenu .moduleMenuBlock .mainModule .btnBlock{
	position:relative;
	margin: 0 10px; 
	border-bottom: 2px solid #ebebeb;
	margin-top: -2px;
	height: 48px;
}
.topModuleMenu .moduleMenuBlock .mainModule li:first-child .btnBlock{
	margin-top: 0px;
}

.topModuleMenu .moduleMenuBlock li.over{
	background-color: #ebebeb;
}
.topModuleMenu .moduleMenuBlock .mainModule>li:hover i{
	background-position: -110px -89px;
}
.topModuleMenu .moduleMenuBlock .mainModule>li i{
	position:absolute;
	display: block;
	width: 17px;
	height: 17px;
	background: url(../images/icons.png) no-repeat -110px -106px;
	top: 50%;
	right: 15px;
	margin-top: -8px;
}
.topModuleMenu .subModuleMenuBlock{
	position: absolute;
	top: 0;
	left: 0;
	background: #f6f6f6 url(../images/top_Menu_Sub_BG.jpg) repeat-y;
}
.topModuleMenu .subModuleMenuBlock.right{
	background: #f6f6f6 url(../images/top_Menu_Sub_BG2.jpg) repeat-y right;
}

.topModuleMenu .subModuleMenuBlock .btnBlock{
	margin: 0 10px;
}
.topModuleMenu .moduleMenuBlock li.base:hover{
	background-color: #f9dcd6;
}

.mainPanel{
	margin-top: 20px;
	background-color: #fff;
}   
.footer{
	position:relative;
	height: 185px;
	width:1000px;
	margin: 0 auto;
}
.footer .navigationGroup{
	position: absolute;
	left: 0;
	bottom: 35px;
}
.footer .navigationGroup a{
	display: inline-block;
	margin-right: 15px;
}
.footer .navigationGroup a:hover{
	color: #ababab;
}
.footer .copyright{
	position: absolute;
	right: 0;
	bottom: 35px;
	font-size: 15px;
}
.footer .shareGroup{
	position: absolute;
	right: 0;
	top: 40px;	
}
.footer .shareGroup a{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: 20px;
	background:url(../images/icons.png) no-repeat;
}
.footer .shareGroup .icon01{
	background-position: 0 -24px;
}
.footer .shareGroup .icon02{
	background-position: -32px -24px;
}
.footer .shareGroup .icon03{
	background-position: -64px -24px;
}
.footer .shareGroup .icon04{
	background-position: 0 -56px;
}
.footer .shareGroup .icon05{
	background-position: -32px -56px;
}
.footer .phoneUser{
	display: none;
	border: 2px solid #000;
	line-height: 55px;
	height:55;
	margin: 20px 30px;
	padding:0 10px;
	text-align: center;
	font-size: 24px;
	text-overflow:  ellipsis;
	white-space: nowrap;
	overflow: hidden;	
}
.phoneMenuPlaceholder{
	height: 0;
}

.topSwitchViewBlock{
	position: relative;
	width: 100%;
}
.topSwitchViewBlock .placeholderBG{
	width: 100%;
}
.topSwitchViewBlock .switchContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.topSwitchViewBlock ul{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.topSwitchViewBlock ul li{
	float: left;
}
.topSwitchViewBlock ul li a{
	display: block;
	width: 100%;
}
.topSwitchViewBlock ul li a img{
	width: 100%;
}

.topSwitchViewBlock .topSwitchNavBlock{
	position: absolute;
	left: 0;
	bottom:10px;
	width: 100%;
	height: 16px;
	line-height: 16px;
	text-align: center;
	z-index: 5;
}
.topSwitchViewBlock .topSwitchNavBlock a{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/general_top_switch_nav.png) no-repeat 0 0;
	margin-left: 15px;
}
.topSwitchViewBlock .topSwitchNavBlock a.selected{
	background-position: -16px 0;
}
.topSwitchViewBlock .topSwitchNavBlock a:first-child{
	margin-left: 0;
}
.footerBeforeHolder{
	height: 0;
	background-color: #fff;
}

@media only screen and (max-width: 1000px) {
	.centerBlock{
		width: 100%;	
	}
}
@media only screen and (max-width: 1300px) {
	.header .rightBlock{
		right: 0;
	}
}
@media only screen and (max-width: 1175px) {
	.header .rightBlock .shoppingCar .popWindow{
		left: -172px;
	}
	.header .rightBlock .shoppingCar .popWindow .lightRow{
		width: 325px;
	}
	.header .rightBlock .shoppingCar .popWindow .lightRow i{
		margin-left: 170px;
	}
}

@media only screen and (max-width: 960px) {
	.footer .navigationGroup{
		width: 360px;
	}
	.footer .navigationGroup a {
		width: 180px;
		margin-right: 0;
	}
	.footer .navigationGroup {
		left: 10px;
	}
	.footer .shareGroup {
		right: 10px;
	}
	.footer .copyright {
		right: 10px;
	}
	.header .rightBlock{
		width: 155px; 
	}
	.header .rightBlock .combox{
		margin: 15px 7px 0 50px;
		float: right;
	}
	.header .rightBlock .shoppingCar{
		margin-top: 15px;
	}	
	.header .rightBlock .combox{
		z-index: 3;
	}
	.header .rightBlock .account{
		z-index: 2;
	}
	.header .rightBlock .shoppingCar{
		z-index: 1;
	}
}

@media only screen and (max-width: 784px) {
	html,body{
		overflow-x: hidden;
	}
  	.header {
  		height: 80px;
  		border-bottom: 1px solid #e6e6e6;
  		background-color: #fff;
  	}
	.header .logo {
		width: 180px;
		height: auto;
		margin-left: -90px;
		bottom: 18px;
	}
  	.header .logo img{
		width: 180px;
		height: auto;
	}
	.header .searchBlock {
		display: none;
	}
	.header .rightBlock {
		display: none;
	}
	.header .searchBlock{
		position: absolute;
		left: 25px;
		right:25px;
		top:10px;
		bottom: 10px;
		width:auto;
		height:auto;
		line-height:40px;
		border: 2px solid #ccc;
	}
	.header .searchBlock .inputContainer{
		display:block;
		float: none;
		width: auto;
		margin: 10px 80px 0 20px; 
	}
	.header .searchBlock input[type="submit"]{
		position:absolute;
		top:4px;
		right:4px;
		background: url("../images/phone/search7shoppingcar.png") repeat scroll -48px 0 rgba(0, 0, 0, 0);
	    height: 48px;
	    width: 48px;
		border: none;
	}
	.header .searchBlock input[type="text"]{
		padding: 0;
		font-size: 26px;
		color: #999;
	}
  	.nav{
  		background-color: #fff;
  	}
  	.header .phoneShoppingcar,
  	.header .phoneSearch,
  	.topNavigation .phoneViewTopMenu,
  	.topNavigation .phoneView{
  		display: block;
  	}
	.topNavigation .topNavlistModule{
		display: none;
	}
	
	.topNavigation .topNavlistModule li .btnBlock i{
		display: block;
		background-position: 0 0;
	}
	.topNavigation .topNavlistModule .btnBlock:hover{
		background-color: #ebebeb;
	}
	.topNavigation .topNavlistModule li .btnBlock:hover i{
		background-position: 0 -45px;
	}
	.topNavigation .topNavlistModule li .btnBlock .opened{
		background-position: -45px 0;
	}
	.topNavigation .topNavlistModule li .btnBlock:hover .opened{
		background-position: -45px -45px;
	}
	
	.topNavigation .topNavlistModule li:hover .popBlock{
		display: none;

	}
	.topNavigation .topNavlistModule li .popBlock ul li:hover .subPopBlock{
		display: none;
	}
	.topNavigation .topNavlistModule{
		position: absolute;
		top: 110px;
		left: 0;
		width: 100%;
		margin-top: 0;
		height: auto;
		background-color:#fff;
		border-top: 1px solid #ccc;
		border-bottom: none;
		z-index: 20;
	}
	.topNavigation .topNavlistModule li{
		position: static;
		display: block;
		width: 100%;
		height:auto;
		text-align: left;
		border-bottom: 1px solid #ccc;
	}
	.topNavigation .topNavlistModule li .btnBlock a{
		padding-left: 16px;
		float: left;
	}

	.topNavigation .topNavlistModule li .popBlock{
		position: static;
		width: 100%;
	}
	.topNavigation .topNavlistModule li .popBlock ul{
		width: 100%;
		margin: 0;
		padding:0;
		border: none;
		background-color:rgba(255,255,255,0);
	}
	.topNavigation .topNavlistModule li .popBlock ul li{
		width: 100%;
	}
	.topNavigation .topNavlistModule li .popBlock ul li a{
		padding-left: 32px;
	}
	.topNavigation .topNavlistModule li .popBlock ul li:first-child{
		border-top: 1px solid #ccc;
	}
	.topNavigation .topNavlistModule li .popBlock ul li:last-child{
		border-bottom:none;
	}
	.topNavigation .topNavlistModule li .popBlock ul li a:before{
		content: " - ";
	}
	.topNavigation .topNavlistModule li .popBlock .subPopBlock{
		position: static;
		width: 100%;
	}
	.topNavigation .topNavlistModule li .popBlock .subPopBlock a{
		padding-left: 48px;
	}
	.topModuleMenu{
		display: none;
	}

	.mainPanel{
		margin-top: 0;
	}
	
	.footer{
		height: auto;
		padding-top: 40px;
	}
	.footer .phoneUser{
		display: block;
	}
	
	.footer .navigationGroup {
		position: static;
		background-color: #fff;
		width: 100%;
	}
	.footer .navigationGroup a {
		width: auto;
		height: 70px;
		line-height: 70px;
		border-bottom: 1px solid #ebebeb; 
		font-size: 18px;
		margin: 0 30px;
		display: block;
	}
	.footer .copyright{
		position: static;
		font-size: 14px;
		background-color: #FFFFFF;
		height: 70px;
		line-height: 70px;
		white-space: nowrap;
		text-align: center;
	}
	.footer .shareGroup {
	   position: static;
	   text-align: center;
	   line-height: 70px;
	   height: 70px;
	}
	.footer .shareGroup a:first-child{
		margin-left: 0;
	}
}



