.groupName{
	font-size: 18px;
	padding: 20px 0 10px;
}
.m7p_formList input[type="checkbox"]{
	margin-right: 4px;
}
.extraPanel{
	display: none;
}
.operationBar{
	margin-top: 20px;
}
@media only screen and (max-width: 784px) {
	.m7p_contentMainPanel{
		padding: 0 10px;
	}
}