.groupName{
	font-size: 18px;
	padding: 20px 0 10px;
}
.setDefaultRow{
	line-height: 26px;
}
.setDefaultRow input{
	margin-right: 6px;
	vertical-align: -1px;
}
.operationBar{
	margin-top: 30px;
}

@media only screen and (max-width: 784px) {
	.m7p_contentMainPanel{
		padding: 0 10px;
	}
}